<p>Hi,</p><br>
<p>Thank you for joining us! We're happy to have you here.</p>
<p>Here's a temporary passcode to verify your account. The code is valid for 24 hours.</p>
<strong>{{otpCode}}</strong>
<p>Thanks and best regards!</p>
<p>Your Friends from LMD NFT</p>